<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bookliy?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Ayomalkaus#2k23</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="lk.cypher.bookily.entity.Address"/>
        <mapping class="lk.cypher.bookily.entity.Order"/>
        <mapping class="lk.cypher.bookily.entity.User"/>
        <mapping class="lk.cypher.bookily.entity.Cart"/>
        <mapping class="lk.cypher.bookily.entity.City"/>
        <mapping class="lk.cypher.bookily.entity.Address"/>
        <mapping class="lk.cypher.bookily.entity.DeliveryType"/>
        <mapping class="lk.cypher.bookily.entity.Discount"/>
        <mapping class="lk.cypher.bookily.entity.OrderItem"/>
        <mapping class="lk.cypher.bookily.entity.Product"/>
        <mapping class="lk.cypher.bookily.entity.Status"/>
        <mapping class="lk.cypher.bookily.entity.Stock"/>
    </session-factory>
</hibernate-configuration>